##############################################################################
# IBM Cloud Authentication
##############################################################################

ibmcloud_api_key = "YOUR_IBM_CLOUD_API_KEY_HERE"

##############################################################################
# Region and Resource Group
##############################################################################

region            = "us-south"
resource_group_id = "your-resource-group-id-here"

##############################################################################
# VPC and Subnet Configuration
##############################################################################

vpc_id    = "r006-12345678-1234-1234-1234-123456789012"
subnet_id = "0717-12345678-1234-1234-1234-123456789012"